@{
    ViewData["Title"] = "About Joel Hilton";
}
<h1>Get to Know Joel</h1>

<p>Hi, there! My name is Joel Hilton. This is my exculive, one-of-a-kind movie collection. I hope you enjoy it as much as I do. 
    If you want to meet me in person then come to <a href="https://www.qwcomedy.com">Quick Wits Comedy</a>. Also, don't forget to 
    <a href="https://baconsale.com/">check this out</a> too!
</p>

<br />
<a href="https://baconsale.com/">
<img src="~/img/baconsalekate.jpeg" height="300"/>
</a>