@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Joel Hilton Film Collection</h1>
    <h4>A Joel Hilton Exclusive</h4>
    <img src="~/img/joelhiltonheadshot.jpeg" />
</div>

